.current-weather {
  display: flex;
  box-shadow: $shadow-md;
  border-radius: $border-radius;
  padding: $spacing-lg;
  justify-content: space-between;
  background: $primary-gradient;

  &-section {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: space-between;
  }
}

.title {
  color: $accent-color;
  font-size: $font-size-lg;
}

.temperature {
  font-size: $font-size-xl;
  font-weight: 600;
  margin: $spacing-xs 0;
  white-space: nowrap;
}

.humidity {
  display: flex;
  flex-direction: column;
  font-size: $font-size-md;

  &-caption {
    font-size: $font-size-sm;
    opacity: 0.5;
  }
}

.condition {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
}

.unit-toggle {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  color: rgba($text-color, 0.37);
  cursor: pointer;
  font-size: $font-size-lg;

  p {
    color: inherit;
  }

  .active {
    color: initial;
  }
}

@media (max-width: $mobile-sm) {
  .current-weather {
    flex-direction: column-reverse;
    align-items: center;
  }
}
