.forecast {
  &-title {
    font-size: $font-size-xs;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: $accent-color;
    margin-top: 0;
  }

  &-days {
    display: flex;
    justify-content: space-between;
    gap: $spacing-xs;
  }
}

@media (max-width: $mobile) {
  .forecast {
    &-days {
      flex-direction: column;
    }
  }
}
