// Colors
$primary-color: #190d42;
$accent-color: #f2dc6d;
$text-color: #fff;
$error-color: #fc9898;

// Font sizes
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 18px;
$font-size-lg: 24px;
$font-size-xl: 32px;

// Gradients
$primary-gradient: linear-gradient(
  145deg,
  rgba(47, 30, 106, 1) 0%,
  rgba(25, 13, 66, 1) 34%,
  rgba(27, 15, 70, 1) 65%,
  rgba(47, 30, 106, 1) 100%
);

// Spacing
$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 15px;
$spacing-lg: 20px;
$spacing-xl: 40px;

// Breakpoints
$mobile-sm: 320px;
$mobile: 375px;

// Border radius
$border-radius: 10px;

// Box shadow
$shadow-md: 5px 5px 20px rgb(16, 8, 42);
